 @media only screen and (max-width: 768px) {
    nav{
        position: relative;
        grid-template: {
            columns: repeat(10,1fr);
            areas: " logo logo logo logo logo logo logo logo logo icon";
        };
        ul{
            @include colors($secondMainColor, $mainColor);
            height: 0px;
            display:  block !important;
            overflow: hidden;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 998;
            li{
                display: block !important;
                padding: 10px 80px 10px 20px !important;
                &:hover{
                    @include colors($mainColor !important, $secondMainColor !important);
                }
            }
        } 
        .minIcon{
            z-index: 999;
            display: block;
            grid-area: icon;
        }
    }
    header{
        height: auto;
        @include paddingM(10px, 10px, 10px, 10px);
        gap: 15px;
        grid-template: {
            columns: repeat(10,1fr);
            // rows: 50% 50%;
            areas: 
            " about about about about about about about about about about"
            " img img img img img img img img img img";
        };
        .aboutMe{
            width: 100%;
            grid-area: about;
            gap: 10px;
            grid-template-rows: 7% auto auto auto auto auto 20% ;
            @include paddingM(5px, 5px ,5px ,5px);
            .big{
                @include fonts("Montserrat", 40px, auto);
            }
            h1{
                @include fonts("Montserrat", 30px, auto);
            }
        }
        .img{
            grid-area: img;
            grid-template: {
                columns: repeat(1,1fr) !important;
            }
            // @include center_Ver_Hor(flex, center, center);
            .borderImg{
                width: 100%;
                height: 50vh;
            }
        }
    }
    section{
        grid-area: sec;
        display: grid;
        grid-template: {
            columns: repeat(10,1fr);
            areas: 
            "line line line line line line line line line line"
            "objct objct objct objct objct objct objct objct objct objct"
            "photo photo photo photo photo photo photo photo photo photo"
        };
        .objective{
            grid-area: objct;
            display: grid;
            grid-template: {
                columns: repeat(5,1fr);
                rows: 5% 15% 20% 40% 20%;
                areas: 
                "s s s s s"
                "h5 h5 h5 h5 h5"
                "h1 h1 h1 h1 h1"
                "p p p p p";
            }
        }
    }
    .sec2{
        display: grid;
        gap: 45px 0; 
        grid-template: {
            columns: repeat(10,1fr);
            areas: 
            "objct objct objct objct objct objct objct objct objct objct"
            "photo photo photo photo photo photo photo photo photo photo";
        };
        .photo{
            margin: auto;
        }
        .objective{
            display: grid;
            grid-template: {
                columns: repeat(5,1fr);
                rows: 0% 5% 30% 45% 20%;
                areas: 
                "s s s s s"
                "h5 h5 h5 h5 h5"
                "h1 h1 h1 h1 h1"
                "p p p p p";
            }
        }
    }
    .mySkills{
        .progressBars{
            grid-area: progressB;
            gap: 5px !important;
            grid-template: {
                columns: repeat(1,auto) !important;
            };
        }
    }   
    .gridView{
        grid-area: grdVew;
        display: grid;
        gap: 20px;
        grid-template: {
            columns: repeat(2,1fr) !important;
            // rows: auto auto;
        }
        
    }
    .contact{
        display: block;
        @include paddingM(10px, 30px, 10px, 30px);
        .form2{
            display: block !important;
            .inp{
                @include maginM(10px, auto, 10px, auto);
            }
        }
    }
    .features{
        display: block !important;
        .img{
            width: 80% !important;
            height: auto;
            margin-bottom: 20px;
        }
        h4{
            margin-top: 20px;
        }
    }
  }

@media only screen and (max-width: 600px) {
    nav{
        position: relative;
        grid-template: {
            columns: repeat(10,1fr);
            areas: " logo logo logo logo logo logo logo logo logo icon";
        };
        ul{
            @include colors($secondMainColor, $mainColor);
            height: 0px;
            display:  block !important;
            overflow: hidden;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 998;
            li{
                display: block !important;
                padding: 10px 80px 10px 20px !important;
                &:hover{
                    @include colors($mainColor !important, $secondMainColor !important);
                }
            }
        } 
        .minIcon{
            z-index: 999;
            display: block;
            grid-area: icon;
        }
    }
    header{
        height: auto;
        @include paddingM(10px, 10px, 10px, 10px);
        gap: 15px;
        grid-template: {
            columns: repeat(10,1fr);
            // rows: 50% 50%;
            areas: 
            " about about about about about about about about about about"
            " img img img img img img img img img img";
        };
        .aboutMe{
            width: 100%;

            grid-area: about;
            gap: 10px;
            grid-template-rows: 7% auto auto auto auto auto 20% ;
            @include paddingM(5px, 5px ,5px ,5px);
            .big{
                @include fonts("Montserrat", 40px, auto);
            }
            h1{
                @include fonts("Montserrat", 30px, auto);
            }
        }
        .img{
            grid-area: img;
            padding: 5px;
            grid-template: {
                columns: repeat(1,1fr);
                rows: repeat(1,1fr);
                areas: "img2";
            }
            // @include center_Ver_Hor(flex, center, center);
            .borderImg{
                width: 100%;
                height: 50vh;
            }
        }
    }
    section{
        grid-area: sec;
        display: grid;
        grid-template: {
            columns: repeat(10,1fr);
            areas: 
            "line line line line line line line line line line"
            "objct objct objct objct objct objct objct objct objct objct"
            "photo photo photo photo photo photo photo photo photo photo"
        };
        .objective{
            grid-area: objct;
            display: grid;
            grid-template: {
                columns: repeat(5,1fr);
                rows: 5% 15% 20% 40% 20%;
                areas: 
                "s s s s s"
                "h5 h5 h5 h5 h5"
                "h1 h1 h1 h1 h1"
                "p p p p p";
            }
        }
    }
    .sec2{
        display: grid;
        gap: 45px 0; 
        grid-template: {
            columns: repeat(10,1fr);
            areas: 
            "objct objct objct objct objct objct objct objct objct objct"
            "photo photo photo photo photo photo photo photo photo photo";
        };
        .photo{
            margin: auto;
        }
        .objective{
            display: grid;
            grid-template: {
                columns: repeat(5,1fr);
                rows: 0% 5% 30% 45% 20%;
                areas: 
                "s s s s s"
                "h5 h5 h5 h5 h5"
                "h1 h1 h1 h1 h1"
                "p p p p p";
            }
        }
    }
    .mySkills{
        .progressBars{
            grid-area: progressB;
            gap: 5px !important;
            grid-template: {
                columns: repeat(1,auto) !important;
            };
        }
    }   
    .gridView{
        grid-area: grdVew;
        display: grid;
        gap: 20px;
        grid-template: {
            columns: repeat(1,1fr) !important;
            // rows: auto auto;
        }
    }
    .contact{
        display: block;
        @include paddingM(10px, 30px, 10px, 30px);
        .form2{
            display: block !important;
            .inp{
                @include maginM(10px, auto, 10px, auto);
            }
        }
    }
    .features{
        display: block !important;
        .img{
            width: 80% !important;
            height: auto;
            margin-bottom: 20px;
        }
        h4{
            margin-top: 20px;
        }
    }
}